<?xml version="1.0" encoding="UTF-8"?>
<?include sVanillaInfo.wsi?>
<?ifndef AppVersion?>
    <?error AppVersion must be set?>
<?endif?>
<?ifndef AppPackageDir?>
    <?error AppPackageDir must be set?>
<?endif?>
<?ifndef CompressionLevel?>
    <?define CompressionLevel="high"?>
<?endif?>
<?define PlatformProgramFilesFolder="ProgramFiles64Folder"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="sVanilla" Language="1033"
        Version="$(var.AppVersion)" Manufacturer="sVanilla studio"
        UpgradeCode="2B30B79C-72E0-4A0D-B82D-AAD3075B2E1C">
        <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64" />

        <MajorUpgrade
            Schedule="afterInstallInitialize"
            AllowDowngrades="yes"
        />
        <?define ProgramFilesFolder="ProgramFiles64Folder"?>
        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
        <Icon Id="$(var.AppExeName)" SourceFile="$(var.AppPackageDir)/$(var.AppExeName)" />
        <Property Id="ARPPRODUCTICON" Value="$(var.AppExeName)" />
        <Property Id="ARPURLINFOABOUT" Value="https://svanilla.app/" />
        <Property Id="APPVERSIONSTR" Value="$(var.AppVersion)" />
        <Property Id="PREVIOUS_VERSION">
            <RegistrySearch Id="SearchInstalledVersion"
                Root="HKCU"
                Key="Software\$(var.AppName)\$(var.AppName)\install"
                Name="Version"
                Type="raw" />
        </Property>

        <Component Id="RegistryEntries" Guid="A5D4C2B6-84F9-4D32-B287-9C578F7D7A45"
            Directory="TARGETDIR">
            <RegistryKey Root="HKCU" Key="Software\$(var.AppName)\$(var.AppName)\install">
                <RegistryValue Name="Version" Type="string" Value="$(var.AppVersion)" KeyPath="yes" />
                <RegistryValue Name="VersionNumber" Type="integer" Value="$(var.AppVersionNumber)"
                />
                <RegistryValue Name="InstallType" Type="string" Value="msi" />
                <RegistryValue Name="InstallPath" Type="string" Value="[APPLICATIONFOLDER]" />
            </RegistryKey>
        </Component>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)">
                <Directory Id="APPLICATIONFOLDER" Name="$(var.AppName)">

                </Directory>
            </Directory>

            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="$(var.AppName)" />
            </Directory>

            <Directory Id="DesktopFolder" />
        </Directory>

        <ComponentGroup Id="ProductPackageComponents">
            <!-- Executable -->
        </ComponentGroup>
        <ComponentGroup Id="ProductMenuComponents" Directory="APPLICATIONFOLDER"
            Source="$(var.AppPackageDir)">
            <!-- Executable -->
            <Component Id="ProductShortcuts" Win64="yes">
                <Shortcut Id="StartMenuShortcut" Directory="ProgramMenuDir"
                    Name="$(var.AppName)" Target="[APPLICATIONFOLDER]$(var.AppExeName)"
                    WorkingDirectory="APPLICATIONFOLDER" Icon="$(var.AppExeName)" IconIndex="0"
                />
                <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="$(var.AppName)"
                    WorkingDirectory="APPLICATIONFOLDER" Icon="$(var.AppExeName)" IconIndex="0"
                    Target="[APPLICATIONFOLDER]$(var.AppExeName)" />
                <RemoveFolder Id="DesktopFolder" On="uninstall" />
                <RemoveFolder Id="ProgramMenuDir" Directory="ProgramMenuDir" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\$(var.AppName)" Name="installed"
                    Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </ComponentGroup>

        <UI>
            <UIRef Id="WixUI_FeatureTree" />
        </UI>

        <SetProperty Id="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]" After="CostFinalize" />
        <Property Id="ApplicationFolderName" Value="$(var.AppName)" />
        <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
        <WixVariable Id="WixUILicenseRtf" Value="scripts/wix/license.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="scripts/wix/banner.bmp" />

        <Feature Id="ProductFeature" Title="$(var.AppName)" Level="1"
            Description="Provides $(var.AppName) executable." Absent="disallow"
            ConfigurableDirectory="APPLICATIONFOLDER">
            <ComponentGroupRef Id="ProductPackageComponents" />
            <ComponentGroupRef Id="ProductMenuComponents" />
            <ComponentRef Id="RegistryEntries" />
        </Feature>

        <Property Id="LASTINSTALLTYPE">
            <RegistrySearch Id="InstallType" Root="HKCU"
                Key="Software\$(var.AppName)\$(var.AppName)\install" Win64="no"
                Type="raw" />
        </Property>

        <!--
        <Property Id="INNO_INSTALLDIR">
            <RegistrySearch Id="InstallPath" Root="HKCU"
                Key="Software\$(var.AppName)\$(var.AppName)\install" Win64="no"
                Type="raw" />
        </Property>

        <SetProperty Id="INNO_UNINSTALLER" Value="[INNO_INSTALLDIR]\uninstall.exe"
            After="AppSearch">
            NSIS_INSTALLDIR AND (LASTINSTALLTYPE = "inno") </SetProperty>

        <CustomAction Id="CA_INNO_UNINSTALLER" Property="INNO_UNINSTALLER" ExeCommand="/S"
            Execute="deferred" Impersonate="no" />

        <InstallExecuteSequence>
            <Custom Action='CA_INNO_UNINSTALLER' After='RemoveExistingProducts'>INNO_UNINSTALLER</Custom>
        </InstallExecuteSequence>
        -->
    </Product>
</Wix>