[submodule "ThirdParty/vcpkg"]
	path = ThirdParty/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "ThirdParty/sVanillaPlugins"]
	path = ThirdParty/sVanillaPlugins
	url = https://github.com/WangPengZhan/sVanillaPlugins.git
