[submodule "ThirdParty/vcpkg"]
	path = ThirdParty/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/google/googletest.git
[submodule "ThirdParty/qwindowkit"]
	path = ThirdParty/qwindowkit
	url = https://github.com/stdware/qwindowkit.git
