<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI>
            <Dialog Id="UpgradePromptDialog" Width="370" Height="270" Title="Upgrade Version">
                <Control Id="Text" Type="Text" X="20" Y="60" Width="330" Height="80"
                    Text="An older version is already installed. Do you want to continue upgrading to the new version?" />
                <Control Id="YesButton" Type="PushButton" X="220" Y="243" Width="56" Height="17"
                    Default="yes" Text="Yes">
                    <Publish Event="EndDialog" Value="Return">1</Publish>
                </Control>
                <Control Id="NoButton" Type="PushButton" X="290" Y="243" Width="56" Height="17"
                    Cancel="yes" Text="No">
                    <Publish Event="EndDialog" Value="Exit">1</Publish>
                </Control>
            </Dialog>

            <Dialog Id="DowngradePromptDialog" Width="370" Height="270" Title="Downgrade Version">
                <Control Id="Text" Type="Text" X="20" Y="60" Width="330" Height="80"
                    Text="A newer version is already installed. Do you want to continue downgrading to the current version?" />
                <Control Id="YesButton" Type="PushButton" X="220" Y="243" Width="56" Height="17"
                    Default="yes" Text="Yes">
                    <Publish Event="EndDialog" Value="Return">1</Publish>
                </Control>
                <Control Id="NoButton" Type="PushButton" X="290" Y="243" Width="56" Height="17"
                    Cancel="yes" Text="No">
                    <Publish Event="EndDialog" Value="Exit">1</Publish>
                </Control>
            </Dialog>
        </UI>
    </Fragment>
</Wix>